<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>KakaoTalk</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/liststyle.css" />
    <script src="/static/functionchatlist.js"></script>
  </head>

  <body>
    <div class="page">
      <div class="list-title">
        <h2>Chat List</h2>
        <button type="button" class="addButton" id="addChat">ADD +</button>
      </div>
      <div class="divider-line"></div>
      <div id="userModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>Add a Chat</h2>
          <div id="modalUserList"></div>
        </div>
      </div>
      <div id="ChatList" class="list-chat"></div>
      <div class="nav-bar">
        <button id="profileButton" class="nav-item">Profile</button>
        <button id="friendButton" class="nav-item">Friend</button>
        <button id="chatButton" class="nav-item">Chat</button>
      </div>
    </div>
  </body>
</html>
