<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>KakaoTalk</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/profile.css" />
    <script src="/static/function.js"></script>
  </head>

  <body>
    <div class="page">
      <div class="profile-nav">
        <button type="button" class="closeButton">BACK</button>
        <button type="button" class="editButton">EDIT</button>
      </div>
      <div class="profile">
        <div class="img">
          <img
            src="/static/image/basic_profile.jpg"
            id="user_img"
            alt="User Profile Image"
          />
        </div>
        <div class="name">
          username
          <!-- <input type="text" id="user_id" /> -->
        </div>
        <div class="desc">
          userdescription
          <!-- <input type="text" id="user_desc" /> -->
        </div>
        <div class="divider-line"></div>
        <button type="button" class="addButton" id="addChat">1:1 chat</button>
      </div>
    </div>
  </body>
</html>
