<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>KakaoTalk</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/profile.css" />
    <script src="/static/functionprofile.js"></script>
  </head>

  <body>
    <div class="page">
      <div class="profile-nav">
        <button type="button" class="closeButton">BACK</button>
        <button type="button" class="editButton">EDIT</button>
      </div>
      <div class="profile">
        <div class="img">
          <img
            id="user_img"
            src="/static/image/basic_profile.jpg"
            alt="User Profile Image"
          />
          <input type="file" id="img_upload" style="display: none" />
        </div>
        <div id="user_name" class="name"></div>
        <div id="user_desc" class="desc"></div>
        <div class="divider-line"></div>
        <button type="button" class="addButton" id="addChat">1:1 chat</button>
      </div>
    </div>
  </body>
</html>
